@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: transparent;
}

header{
    height: 100vh;
}

.container {
    margin: auto;
    width: 100%;
    height: 100vh;
    background-image: url(/Imagenes/LandingPage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-title {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: center;
}

.text {
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 5rem;
}

nav{
    position: fixed;
    top: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
   
}

.logo{
    width: fit-content;
}

.logo>img{
    width: 90px;
    height: 70px;
}

.nav-links{
    width: 100%;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    
}

.nav-links > li {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.5rem;
    font-weight: 800;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    border-radius: 50px;
   
}

.nav-links > li:hover, #btn:hover, .btn:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}

nav{
    background-color: transparent;
}

.link{
    color: inherit;
    text-decoration: none; 
    cursor: pointer; 
}

.btn{
    border: none;
    height: 30px;
    width: 125px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer; 
}

.visitantes-box{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    height: 100px;
    width: 150px;
    justify-content: center;
    align-items: center;
}
