@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: transparent;
}

header{
    height: 100vh;
}

.container {
    padding: 14rem 1rem;
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url(/Imagenes/LandingPage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-title {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: center;
}

.h-subtitle {
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 5rem;
}

nav{
    position: fixed;
    top: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
   
}

.logo{
    width: fit-content;
}

.logo>img{
    width: 90px;
    height: 70px;
}

.nav-links{
    width: 100%;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    
}

.nav-links > li {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.5rem;
    font-weight: 800;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    border-radius: 50px;
   
}

.nav-links > li:hover, #btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}

nav{
    background-color: transparent;
}

#btn{
    border: none;
    width: 120px;
    height: 70px;
    border-radius: 30px;
    color: white;
    font-size: 1.2rem;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    cursor: pointer;
}
